[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
black = "==20.8b1"

[packages]
ujson = "*"
uvloop = "*"
fastapi = "*"
uvicorn = "*"
alembic = "*"
gunicorn = "*"
httptools = "*"
sqlalchemy = "*"
python-decouple = "*"
mysql-connector-python = "*"

[requires]
python_version = "3.8"
